<style>
    /* Styles for the image container */
    .image-containerss {
        display: flex; /* Use flexbox to center the image horizontally and vertically */
        justify-content: center; /* Center the image horizontally */
        align-items: center; /* Center the image vertically */
        width: auto; /* Set the desired width for the container (optional) */
        height: auto; /* Set the desired height for the container (optional) */
    }

    /* Styles for the image itself (optional) */
    #blogImage {
        max-width: 100%; /* Ensure the image doesn't exceed the container's width */
        max-height: 100%; /* Ensure the image doesn't exceed the container's height */
        border-radius: 5px; /* Apply rounded corners (optional) */
    }
</style> 

<div class="modal" id="blogDetailsPopup" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="blogTitle"></h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body">
				<div class="image-containerss">
					<img id="blogImage" src="#" asp-append-version="true" style="object-fit: cover;">
				</div>
				<hr class="solid" />
				<p id="blogDescription"> </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>




